@import url('./btn/btn.css');
@import url('./header/header.css');
@import url('./nav/nav.css');
@import url('./main/main.css');
@import url('./hero/hero.css');
@import url('./our-firm/our-firm.css');
@import url('./title/title.css');
@import url('./team-member/team-member.css');
@import url('./project/project.css');
@import url('./our-process/our-process.css');
@import url('./clients/clients.css');
@import url('./featured-projects/featured-projects.css');
@import url('./team/team.css');
@import url('./get-in-touch/get-in-touch.css');
@import url('./footer/footer.css');
@import url('./social/social.css');

:root {
  --primary-color: #1b1a1a;
  --secondary-color: #403e3b;
  --tertiary-color: #645c55;
  --white-color: #ffffff;
  --lightgray-color: #ece7e4;
  --grayish-orange-color: #cec4bc;
  --lynx-white: #f7f7f7;

  --hero-bg: var(--lightgray-color);
  --featured-projects-bg: var(--lynx-white);
  --get-in-touch-bg: var(--grayish-orange-color);
  --footer-bg: var(--lynx-white);

  --team-member-image-border-color: #cec4bc;

  --container-width: 1198px;
  --container-small-width: 798px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/PoppinsRegular.woff2');
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: var(--container-width);
}

.container_small {
  max-width: var(--container-small-width);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.paddingY-100 {
  padding: 100px 0;
}

.centered {
  text-align: center;
}
