.project {
  position: relative;
}

.project__text {
  position: absolute;
  right: 75px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 285px;
}

.project__image {
  width: 100%;
}

.project__title {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.project__description {
  margin: 0;
  line-height: 1.5;
  color: var(--tertiary-color);
}

.project_left .project__text {
  left: 60px;
  right: auto;
}

@media (max-width: 992px) {
  .project__text {
    max-width: 230px;
  }
}

@media (max-width: 768px) {
  .project .project__text {
    inset: 0;
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: none;
    text-align: center;
    padding: 15px;
  }

  .project__title,
  .project__description {
    color: var(--white-color);
  }

  .project::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}